<!-- 稼働率の計算-->
<% if @operation.all_seat <= 0 %>
  <% @kado_ritsu = 0 %>
<% else %>
  <% @kado_ritsu = 100 * @operation.seat / @operation.all_seat %>
<% end %>
<!-- プログレスバーのバックカラーを設定 -->
<% if @kado_ritsu <= 20 %>
  <% @bar_color = "bg-primary" %>
<% elsif @kado_ritsu <= 40 %>
  <% @bar_color = "bg-info" %>
<% elsif @kado_ritsu <= 60 %>　
  <% @bar_color = "bg-success" %>
<% elsif @kado_ritsu <= 80 %>
  <% @bar_color = "bg-warning" %>
<% else @kado_ritsu <= 100 %>
  <% @bar_color = "bg-danger" %>
<% end %>

<div class="progress mt-4 shadow-lg" style="height: 50px;">
  <div class="progress-bar <%= @bar_color %> progress-bar-striped active prog progress-bar-animated"
       role="progressbar" aria-valuenow="<%= @kado_ritsu %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @kado_ritsu %>%">
    <span class="fas fa-chair d-inline lead kado-bar">&nbsp;&nbsp;&nbsp;<%= @kado_ritsu %>%</span>
  </div>
</div>