<%= link_to "<",change_show_user_path(current_user,prev:@first_day.ago(7.days)),remote:true, class: "btn btn-outline-secondary col-1" %>
<span class="reservation_week text-wrap font-weight-lighter col-10 mx-0 px-0 text-center my-auto col-md-5"><%= l(@first_day, format: :long) %>~<%= l(@first_day.since(6.days).to_date, format: :long) %></span>
<%= link_to ">",change_show_user_path(current_user,next:@first_day.since(7.days)),remote:true, class: "btn btn-outline-secondary col-1" %>