<table border="1" style="border-collapse: collapse">
 <thead>
  <tr>
   <th class="week-day-th"></th>
   <% @week_day.each do |week_day| %>
    <td class="week-day-td"><%= week_day %></td>
   <% end %>
  </tr>
 </thead>
</table>