<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">click me</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <%= @reservations.each do |reservation| %>
        <tr>
          <th><%= reservation.meeting_on %></th>
          <th><%= reservation.started_at %></th>
          <th><%= reservation.finished_at %></th>
        </tr>
      <% end %>
      <div class="panel-footer">フッター</div>
    </div>
  </div>
</div>


