.form-main{
    width: 150px;
    height: 70px;
    border-radius: 10px;
    margin-top:75px;
}

.btn-update{
    background-color:#1E90FF;
    width: 135px;
}

.btn-cancel{
    background-color:#808080;
}

.btn-reset{
    background-color:#FFFF66;
}

.justify-content-center{
    margin-top: 50px;
}

.title{
    font-size: 1.75rem;
    margin-top: 30px;
}

.second-tittle{
    font-size: 20px;
    margin-top: 20px;
}

.kado-bar{
    text-shadow: 1px 1px 3px black;
}

// スピナ非表示
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}