// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* reservation page */

ul.time-field {
  list-style: none;
  padding: 0;
  text-align:right;
  li {
    height: 74px;
    width: 40px;
  }
}

.week-day-th {
  height: 35px;
  min-width: 41px;
}

.week-day-td {
  height: 35px;
  width:120px;
  text-align:center;
  white-space:pre-wrap;
  word-wrap: break-all；
}

.time-schedule {
  width: 120px;
  padding: 0;
  position:relative;
  
  ul {
    list-style: none;
    padding: 0;
  }
}

.time-schedule-cell {
  height: 37px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #AAAAAA;
  }
  a:hover {
    background-color: red;
  }
}

.post_time{
  background-color:#EEEEEE;
}
.week_today_color{
  background-color:#00BB00;
  color:white;
}

.reserved{
  position:absolute;
  width:100%;
  background-color:#EEEEEE;
  border-bottom: solid 1px #AAAAAA;
  display: flex;
  align-items: center;
}

.top_vacant{
  height:22px;
  background-color:#EEEEEE;
}

.reservation_status_list{
  margin-top:10px;
  display:flex;
  margin-bottom:10px;
}

.can_reservation,.can_not_reservation{
  width:150px;
  div{
    border:1px solid #AAAAAA;
    padding:15px 15px;
    float:left;
    margin-right:5px;
  }
}

.can_not_reservation{
 div{
   background-color:#EEEEEE;
 }
}

.text-color{
  color:black;
}