/* home jumbotron */

.jumbotron-extend-1 {
  height: 38vh;
  width: 70%;
  margin: 0 auto;
  .operation {
    font-weight: bold;
  }
}

.jumbotron-extend-2 {
  height: 48vh;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}



.progress {
  height: 5vh;
  .prog {
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* home form */

.jumbotron-extend-2 {
  .label-login {
  margin-top: 5px;
  float: left;
  }
}

.jumbotron-extend-2 {
  .checkbox-login {
    float: left;
    width: auto;
    margin-left: 25px;
    span {
      font-weight: normal;
    }
  }
}
