/* home jumbotron */

.jumbotron-extend-1 {
  height: 35vh;
  width: 70%;
  margin: 0 auto;
}

.jumbotron-extend-2 {
  height: 45vh;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

.progress {
  height: 40px;
  .prog {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* home form */

.jumbotron-extend-2 {
  .label-login {
  margin-top: 5px;
  float: left;
  }
}

.jumbotron-extend-2 {
  .checkbox-login {
    float: left;
    width: auto;
    margin-left: 25px;
    span {
      font-weight: normal;
    }
  }
}
