// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//user show

.reservation_week{
  margin:0px 10px 0px 10px;
}

.space{
  height:500px;
}

.date{
  margin-top:20px;
}

/* user index */

.pagination {
  justify-content: center;
}

.page-item .page-link {
  color: gray;
}

.page-item .page-link:hover {
  color: gray;
}

.pagination .page-item.active
.page-link {
  color: white;
  background-color: gray;
  border: gray;
}

.thead-color {
    background-color: #CCCCCC;
    color: white;
}






