// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//user show

.reservation_prev,.reservation_next{
  font-size:20px;
  padding:5px 10px 5px 10px;
  border:1px solid #BBBBBB;
  border-radius:5px;
}

.reservation_week{
  margin:0px 10px 0px 10px;
}

.space{
  height:500px;
}

.date{
  margin-top:20px;
}
/* user index */

.search {
    width: 30%;
    margin-left: auto;
    margin-bottom: 30px;
}

.search p {
    font-size: x-large;
}

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* _edit_info */

.button {
  margin-top: 10px;
  text-align: center;
}