<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "co-ba ikebukuro", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップページ", '#', class: "nav-right" %></li>
        <li><%= link_to "ログイン", '#', class: "nav-right" %></li>
      </ul>
    </nav>
  </div>
</header>